<%namespace name='static' file='../static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
%>

<div class="wrapper-footer wrapper"  style="background:url(${static.url("images/navigation_bottom.png")}) no-repeat;margin:0;">

  <footer class="primary" role="contentinfo">

  <div class="footer-content-primary">
    <div class="colophon">
      <nav class="nav-colophon" aria-label="${_('About')}">
      <ol>
          <li class="nav-colophon-01">
          <a id="about" href="${marketing_link('ABOUT')}">
              ${_("About")}
          </a>
          </li>
          %if marketing_link('JOBS') and marketing_link('JOBS') != '#':
            <li class="nav-colophon-02">
              <a id="jobs" href="${marketing_link('JOBS')}">
                ${_("Jobs")}
              </a>
            </li>
          %endif
          %if marketing_link('NEWS') and marketing_link('NEWS') != '#':
            <li class="nav-colophon-03">
              <a id="news" href="${marketing_link('NEWS')}">
                ${_("News")}
              </a>
            </li>
          %endif
          <li class="nav-colophon-04">
          <a id="faq" href="${marketing_link('FAQ')}" >
              ${_("FAQ")}
          </a>
          </li>
          <li class="nav-colophon-05">
          <a id="contact" href="${marketing_link('CONTACT')}">
              ${_("Contact")}
          </a>
          </li>
      </ol>
      </nav>
      <p>&copy; ${settings.COPYRIGHT_YEAR} <a data-rel="edx.org" href="${marketing_link('ROOT')}" rel="external">${settings.PLATFORM_NAME}</a>.</p>
    </div>
  </div>
  </footer>
</div>

